.singleMovie{
    text-align: center;
    width: 50%;
    margin: 8px auto;
    img{
        width: 70%;
        box-shadow: 2px 2px 5px;
        border-radius: 10px;
        margin: 10px 0;
    }
    h2{
        font-family: sans-serif;
        color: cadetblue;
        font-weight: 500;
        font-size: 2.2em;
    }
}